body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  font-size: 50px;
}

p {
  color: blue;
}

a {
  font-size: 30px;
}

header h1 {
  font-family: 'Lucida Sans' !important;
  font-size: 30px;
}